.list-container {
    .action-btn {
      margin-right: 4px;
    }
  
    .ant-list-item {
      background: #f5f5f5;
      margin-bottom: 10px;
    }
  
    .list-pagination {
      text-align: right;
    }
  
    .ant-list-item {
      padding: 12px 24px;
    }
  }
  